html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }

body {
    background-color: rgb(186, 168, 213);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgb(128, 165, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 34.375rem;
    height: 37.5rem;
    background-color: rgb(80, 74, 98);
    gap: 1.25rem;
    overflow: hidden;
}

.slider_track {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*gap: 3.125rem;*/
    margin-left: 103rem;
    transition: .2s;
}

.slider_item {
    width: 34.375rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    width: 18.75rem;
    height: 25rem;
    background-image: url(/cssMemeSlider/img/meme1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img2 {
    width: 25rem;
    height: 25rem;
    background-image: url(/cssMemeSlider/img/meme2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img3 {
    width: 18.75rem;
    height: 25rem;
    background-image: url(/cssMemeSlider/img/meme3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img4 {
    width: 28.75rem;
    height: 25rem;
    background-image: url(/cssMemeSlider/img/meme4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pagination_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10.625rem;
    height: 4.375rem;
    background-color: rgb(255, 255, 255);
    gap: 0.3rem;
}

.pagination {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: rgb(32, 28, 45);
}

.hover {
    background-color: rgb(93, 86, 132);
    width: 1.4rem;
    height: 1.4rem;
    transition: all .3s;
  }

.active {
    background-color: #939393;
  }