html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 41.875rem;
    /*background-color: rgb(49, 32, 62);*/
    padding-top: 3.125rem;
    animation: fade-up 0.6s;
    z-index: 2;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0%;
    border: solid 3px rgb(0, 0, 0);
    flex-shrink: 6;
}

.rs {
    width: 100px;
    height: 45px;
    position: absolute;
    top: 40px;
    left: 40px;
    animation: fade-down 0.6s 0.4s backwards;
    display: none;
}

.info {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    background-color: rgb(255, 255, 255);
    border: solid 3px rgb(0, 0, 0);
    border-radius: 5000px;
    padding: 10px 20px;
    animation: fade-down 0.6s 0.4s backwards;
    transition: all .3s;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
    flex-shrink: 2;
}

.info:hover {
    transform: scale(1.15);
}

.info a {
    color: black;
    text-decoration: none;
    font-size: 1.375rem;
    flex-shrink: 2;
}

.slider_container {
    position: relative;
    margin: 0 20px;
    flex-direction: row;
    max-width: 34.375rem;
    height: 41.875rem;
    gap: 1.25rem;
    overflow: hidden;
    z-index: 2;
    flex-shrink: 2;
}

.slider_track {
    height: 33rem;
    display: flex;
    align-items: center;
    /*gap: 3.125rem;*/
    /*margin-left: 103rem;*/
    transition: all .3s ease-in-out;
    flex-shrink: 2;
}

.slider_item {
    max-width: 42rem;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 4;
}

.item_wrapper {
    border: solid 3px rgb(0, 0, 0);
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 2;
    /*box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.2);*/
}

.text {
    margin-top: 1.25rem;
    color: #000000;
    font-size: 1.375rem;
    letter-spacing: 1px;
    flex-shrink: 2;
}

.img {
    flex-shrink: 5;
}

.img1 {
    width: 18.75rem;
    height: 25rem;
    background-image: url(/cssMemeSlider/img/meme1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img2 {
    width: 25rem;
    height: 25rem;
    background-image: url(/cssMemeSlider/img/meme2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img3 {
    width: 18.75rem;
    height: 25rem;
    background-image: url(/cssMemeSlider/img/meme3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img4 {
    width: 26rem;
    height: 23rem;
    background-image: url(/cssMemeSlider/img/meme4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pagination_wrapper {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10.625rem;
    height: 4.375rem;
    gap: 0.3rem;
    margin-top: 0.625rem;
    flex-shrink: 2;
}

.pagination {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 2;
}

.dot {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    border: solid 3px rgb(0, 0, 0);
    flex-shrink: 2;
}

.hover {
    /*background-color: rgb(73, 73, 73);
    border: rgb(93, 93, 93);*/
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
    transition: all .3s
  }

.active {
    background-color: white;
  }

@media (max-width: 560px) {
    .block {
        /*width: 31.25rem;*/
    }

    .text {
        font-size: 0.8rem;
    }

    .img1 {
        width: 35vw;
        height: 40vh;
    }

    .img2 {
        width: 45vw;
        height: 40vh;
    }

    .img3 {
        width: 35vw;
        height: 40vh;
    }

    .img4 {
        width: 55vw;
        height: 40vh;
    }

    .pagination_wrapper {
        width: 15vw;
        height: 7vh;
        gap: 0.4rem;
    }

    .dot {
        width: 0.8rem;
        height: 0.8rem;
    }

    .block {
        height: 60vh;
    }

    .slider_track {
        height: 35vh;
    }

    .slider_container {
        height: 50vh;
    }

    .item_wrapper {
        height: 35vh;
    }
}